/**
 * Microbe MVC: Custom CSS
 *
 * @copyright 2022 Frederic Poeydomenge <dyno@aldabase.com>
 * @license https://opensource.org/licenses/MIT MIT Licence (#Expat)
 */

.navbar-brand {
    color: salmon;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}