        </div>
      </div>
      <!-- END OF PAGE -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="<?= SITE_URL ?>/index.js"></script>
  </body>
  <!-- END OF BODY -->

</html>